/* Root variables */
:root {
    --primary-color: #2f4359;
    --background-color: #fafbff;
    --hover-color: blue;
    --second-color: #605555;
}

/* Global styles */
body {
    background: var(--background-color) !important;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

section {
    margin: 30px 0;
}

.section-headers {
    margin-bottom: 15px;
}

.section-headers h4 {
    font-size: 1.75rem;
    font-weight: 650;
}

/* Common button styles */
.my-button {
    margin: 15px 0;
    padding: 5px 14px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 500;
}

.my-dark_button, .my-light_button {
    margin-top: 20px !important;
}

.my-dark_button {
    color: var(--background-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.my-dark_button:hover {
    color: var(--primary-color) !important;
    background-color: var(--background-color);
    transition: 1s;
}

.my-light_button {
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color) !important;
}

.my-light_button:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--background-color);
    color: var(--background-color) !important;
    transition: 1s;
}

i {
    margin: 5px;
}

/* Navbar area */
header .navBar-section nav,
header .offcanvas {
    background-color: var(--primary-color) !important;
}

/* projects_hero */
.projects_hero {
    background-color: var(--primary-color);
}
.projects_hero_texts{
    color: var(--background-color);
    padding: 10vh 0px;
}

/* Projects */
.projects_single_buttons a{
    font-size: .6em;
}

.projects_single_body .card{
    margin-top: 30px;
}


/* Drop Message Area */
.dropMessage {
    padding: 50px 0 !important;
    background-color: var(--primary-color);
    color: #FFFFFF;
}

/* Footer */
footer {
    padding-bottom: 0 !important;
    margin-top: 50px !important;
}

footer .footer-body .footer-text h3 {
    font-weight: 700;
    letter-spacing: -.65px;
    color: var(--primary-color);
}

footer .footer-body .footer-icons a {
    font-size: 1.2rem;
    color: var(--second-color);
}

footer .footer-body .footer-icons a:hover,
footer .footer-body .footer_contact a {
    color: var(--primary-color);
}

footer .footer-body .footer_contact .footer_contact_single {
    margin: 0px 5px;
}

footer .footer-body .copyright {
    margin-top: 15px;
    color: #707070;
    font-size: .75rem;
}
